{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ ' - Qualifying tournament' }}
{% endblock %}
{% block header %}Qualifying tournament{% endblock %}
{% block body %}
    <table width="600px">
        {% for country in countries %}
            <tr>
                <td><a href="country/view/{{ country }}"><img src="{{ asset("images/#{country}.png") }}"></a></td>
                <td><a href="team/view/{{ country }}">{{ country }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}