{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - Country info: {{ countries[0].name }}
{% endblock %}
{% block header %}
    Country info {{ countries[0].name }}
{% endblock %}
{% block body %}
    <p>
        {{ countries[0].info }}
    </p>
    <p>
        <ul>
            <li><a href="{{ teamRoute }}{{ countries[0].team }}">{{ countries[0].team }} national football team</a></li>
        </ul>
    </p>
{% endblock %}