{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ ' - ' }}
    {{ team.name }}
{% endblock %}
{% block header %}{{ team.name }}{% endblock %}
{% block body %}
    <p>
        {{ team.info }}
    </p>
    <p>
        <ul>
            <li><a href="{{ players }}{{ team.country }}">Team players</a></li>
            <li><a href="{{ coachs }}{{ team.country }}">Team coachs</a></li>
        </ul>
    </p>
{% endblock %}