{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ players[0].team }} national football team players
{% endblock %}
{% block header %}
    {{ players[0].team }} national football team players
{% endblock %}
{% block body %}
    <ul>
        {% for player in players %}
            <li><a href="{{ playerRoute }}/{{ player.name }}">{{ player.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}