{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ ' - Player info: ' }}
    {{ players.name }}
{% endblock %}
{% block header %}
    {{ 'Player info: '}}
    {{ players.name }}
    {{ ' (' }}
    {{ players.team }}
    {{ ')' }}
{% endblock %}
{% block body %}
    <p>
        {{ players.info }}
    </p>
{% endblock %}