{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ coachs[0].team }} national football team coachs
{% endblock %}
{% block header %}
    {{ coachs[0].team }} national football team coachs
{% endblock %}
{% block body %}
    <ul>
        {% for coach in coachs %}
            <li><a href="{{ coachRoute }}/{{ coach.name }}">{{ coach.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}